= form_with(model: message) do |form|
  - if message.errors.any?
    #error_explanation
      %h2
        = pluralize(message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - message.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :content
    = form.text_area :content
  .field
    = form.label :user_id
    = form.text_field :user_id
  .field
    = form.label :chatroom_instance_id
    = form.text_field :chatroom_instance_id
  .actions
    = form.submit
