%p
  %strong Content:
  = @message.content
%p
  %strong User:
  = @message.user_id
%p
  %strong Chatroom instance:
  = @message.chatroom_instance_id
= link_to 'Edit', edit_message_path(@message)
|
= link_to 'Back', messages_path
