.row.mt-5
  .col-6.mx-auto
    .d-flex.flex-column.align-items-center.text-center.card
      %h3
        Login
      = form_for(@user, url: login_path) do |f|
        .form-group
          = f.text_field :username, class: "form-control", placeholder: "Login"
        .form-group
          = f.select :status, options_for_select(User.statuses.map {|key, value| [key.titleize, User.statuses.key(value)]}), {}, {class:'form-control'}

        %button#rnd-btn.btn.btn-secondary.my-2{type: 'button'}
          Randomize
        .actions
          = f.submit "Login", class: "btn btn-primary btn-lg"

= javascript_pack_tag 'login'
