= form_with(model: chatroom_instance) do |form|
  - if chatroom_instance.errors.any?
    #error_explanation
      %h2
        = pluralize(chatroom_instance.errors.count, "error")
        prohibited this chatroom_instance from being saved:
      %ul
        - chatroom_instance.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :name
    = form.text_field :name
  .actions
    = form.submit
